.comments {
    padding: 2em;
}

.section_title{
    font-family: "Times New Roman", Times, serif;
    padding-bottom: .25em;
}

.about_style {
    background-color: rgba(62, 69, 81, 0.1);
    margin: 0;
    color: black;
    text-align: center;
}

.body_style {
    background-color: rgba(62, 69, 81, 0.1);
    margin: 0;
    color: black;
    text-align: center;
}

.post_head {
    font-family: "Times New Roman", Times, serif;
}

.post_content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post {
    background-color: #263238;
}


.link_style a:link {
    color: white;
}

.link_style a:hover{
    text-decoration: none;
    color:rosybrown;
}
