.comments {
    padding: 2em;
    background-color: rgba(62, 69, 81,.1);
}

.section_title{
    font-family: "Times New Roman", Times, serif;
    padding-bottom: .25em;
}

.light_title{
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    padding-bottom: .25em;
    font-weight: normal;
}

.about_style {
    background-color: rgba(62, 69, 81, 0.1);
    margin: 0;
    color: black;
    text-align: center;
}

.post_head {
    font-family: "Times New Roman", Times, serif;
}

.post_content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post{
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;

}

.list_title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.post_altered_carbon {
    background-image: url("../Images/altered_carbon.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
    padding-top: 8em;
    padding-bottom: 8em;
}

.movie_title{
    position: absolute;
    padding: .5em;
    background-color: rgba(0, 0, 0, 0.5);
}



.footer{
    padding: 4em;
    background-color: #212121;
    color: #d50000;
}

.main_body {
    height: 100%;
    background-color: rgba(62, 69, 81,.1);
    padding-top:2em;
}

.h3 span{
    background-color: black;
}

.header_image {
    height: 100%;
    width: 100%;
    /*margin-top: 4em;*/
}

.link_style {
    margin: 2em;
    color:black;
}

.intextlink a:hover {
    text-decoration: none;
}

.content {
    background-color: #FDF3E7;
    color: black;
    width: 100%;
}

.movie_image {
    width: 100%;
    padding:0;
}

.fav_list {
    padding: 4em;
    padding-top: 2em;
}

.main_body a:hover{
    text-decoration: none;
}

.post_page{
    text-align: center;
    padding-top:6em;
    padding-bottom:3em;
    background-color: rgba(62, 69, 81,.1);
}

.title_overlay {
    position: absolute;
    /*top: 50%;*/
    bottom: 10%;
    left: 10%;
    background: rgba(0, 0, 0, 0.5);
}

.blog_roll_title {
    text-align: center;
    font-size: 1.25em;
}

.blog_roll a{
    color: #d50000;
}