@media (min-width: 20px) {
    .title {font-size: .6em}
    .nav_item {font-size: .4em; padding-top: .6em; padding-left: .6em}
}
@media (min-width: 320px) {
    .title {font-size: .6em}
    .nav_item {font-size: .5em; padding-top: .6em; padding-left: .6em}
}

@media (min-width: 540px) {
    .title {font-size: .9em}
    .nav_item {font-size: .6em; padding-top: .6em; padding-left: 3em}
}

@media (min-width: 544px) {
    .title {font-size: 1.0em}
    .nav_item {font-size: .6em; padding-top: .6em; padding-left: 4em}
}

@media (min-width: 768px) {
    .title {font-size: 1.2em}
    .nav_item {font-size: .8em; padding-top: .6em; padding-left: 7em}
}

@media (min-width: 992px) {
    .title {font-size: 1.6em}
    .nav_item {font-size: 1.0em; padding-top: .6em; padding-left: 7em}
}

@media (min-width: 1200px) {
    .title {font-size: 1.6em}
    .nav_item {font-size: 1.0em; padding-top: .6em; padding-left: 7em}
}


.nav_item {

}

.bar {
    background-color: #212121;
}

.bar a{
    color:#d50000;
}

.bar a:visited{

}