@media (min-width: 20px) {
    h1 {font-size: .8em}
    h3 {font-size: .6em}
    .post {background:none;}
    .link_style{
        margin-left:0em;
        margin-right:0em;
    }
    .content {display:none;}
    .title_overlay{font-size:.8em}
    .header_image{padding-top:2.8em}
}
@media (min-width: 320px) {
    h1 {font-size: 1em}
    h3 {font-size: .8em}
    .about_style {height: 100%; padding-top: 6em}
    .post {background:none;}
    .link_style{
        margin-left:0em;
        margin-right:0em;
    }
    .content {display:none;}
    .title_overlay{font-size:1.1em}
    .header_image{padding-top:3em}

}
@media (min-width: 480px){
    h3 {font-size: .8em;}
    .about_style {height: 100vh; padding-top: 6em}
    .content {display:none;}
    .post {background:none;}
    .link_style{
        margin-left:0em;
        margin-right:0em;
    }
    .link_style p{font-size:.45em;}
    .header_image{padding-top:3em}
    .footer {text-align: center;}

}
@media (min-width: 544px) {
    h1 {font-size: 1.5em;}
    h3 {font-size: .9em;}
    .about_style {height: 100vh; padding-top: 6em}
    .content {
        display: inline;
        padding-top:.2em;
    }
    .post {background: linear-gradient(to right, rgba(62, 69, 81,0),#FDF3E7)}
    .link_style{
        margin-left:1em;
        margin-right:1em;
    }
    .link_style p{font-size:.5em;}
    .title_overlay{font-size:.8em}
    .header_image{padding-top:3.6em}
    .footer {text-align: left;}
}

@media (min-width: 768px) {
    h1 {font-size: 2em;}
    h3 {font-size: 1.1em;}
    .about_style {height: 100vh; padding-top: 6em}
    .content {
        padding-top:.5em;
    }
    .link_style{
        margin-left:4em;
        margin-right:4em;
    }
    .link_style p{font-size:.65em;}
    .header_image{padding-top:3.5em}


}
@media (min-width: 850px) {
    h1 {font-size: 2em;}
    h3 {font-size: 1.15em;}
    .about_style {height: 100vh; padding-top: 6em}
    .content {
        padding-top:1em;
    }
    .link_style{
        margin-left:6em;
        margin-right:6em;
    }
    .link_style p{font-size:.7em;}
    .title_overlay{font-size:1em}
}
@media (min-width: 1000px) {
    h1 {font-size: 2.5em;}
    h3 {font-size: 1.2em;}
    .about_style {height: 100vh; padding-top: 8em}
    .post {display: block}
    .content {
        padding-top: 1em;
    }
    .link_style{
        margin-left:8em;
        margin-right:8em;
    }
    .link_style p{font-size:.7em;}
    .header_image{padding-top:4em}

}

@media (min-width: 1100px) {

}

@media (min-width: 1200px) {
    h1 {font-size: 3em;}
    h3 {font-size: 1.4em;}
    .about_style {height: 100vh; padding-top: 8em}
    .post {display: block}
    .content {
        padding-top: 3em;
    }
    .link_style{
        margin-left:11em;
        margin-right:11em;
    }
    .link_style p{font-size:.8em;}
}
@media (min-width: 1300px) {
    h3 {font-size: 1.5em;}
    .content {
        padding-top: 3em;
    }
    .link_style{
        margin-left:14em;
        margin-right:14em;
    }
    .link_style p{font-size:.8em;}
    .title_overlay{font-size:1.3em}
}
@media (min-width: 1400px) {
    h3 {font-size: 1.5em;}
    .content {
        padding-top: 3em;
    }
    .link_style{
        margin-left:14em;
        margin-right:14em;
    }
    .link_style p{font-size:1em;}
    .title_overlay{font-size:1.5em}
}

@media (min-width: 1600px) {
    h3 {font-size: 1.5em;}
    .content {
        padding-top: 3em;
    }
    .link_style{
        margin-left:14em;
        margin-right:14em;
    }
    .link_style p{font-size:1.2em;}
    .title_overlay{font-size:1.8em}
}